[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask = "==1.0.2"
Flask-SQLAlchemy = "==2.4"
python-dotenv = "*"
flask-migrate = "*"
mysqlclient = "*"
pymysql = "*"
faker = "*"
flask-seeder = "*"
pprint = "*"
flask-marshmallow = "*"

[requires]
python_version = "3.6"
